/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --ash: #918d8d
}

body{
  font-family: 'Rubik', sans-serif;;
}


.top__details-heading{
 color:white;
 font-size: 1.5rem;
 margin-bottom: 1rem;
}

.top__details{
  height: 30vh;
  background-image: url("../public/assets/images/pattern-bg.png");
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
  padding: 1.5rem 0rem;
  min-width: 200px;
  /* margin-bottom: 50px; */
}

/* .input-form{
  width: 60%;
} */

.input-control{
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field{
  width: 85%;
  height: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 20px;
  font-weight: 200;
  outline-style: none;
  border: none;
  /* border-radius:  2rem 0 2rem 0; */
  border-radius:  10px 0px 0px 10px;
  cursor: pointer;
}

.map__details{
  /* height: 50vh; */
  /* background-color: red; */
}

#mapid{
  height: 70vh;
  width: 50wh;
}

/* .mapIcon {

} */

.mapIcon:after {
  display: block;
  width: 30px;
  height: 30px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='56'%3E%3Cpath fill-rule='evenodd' d='M39.263 7.673c8.897 8.812 8.966 23.168.153 32.065l-.153.153L23 56 6.737 39.89C-2.16 31.079-2.23 16.723 6.584 7.826l.153-.152c9.007-8.922 23.52-8.922 32.526 0zM23 14.435c-5.211 0-9.436 4.185-9.436 9.347S17.79 33.128 23 33.128s9.436-4.184 9.436-9.346S28.21 14.435 23 14.435z'/%3E%3C/svg%3E");
  font-size: 20px;
}

.btn{
  padding: 0.5rem ;
  color: white;
  background-color: black;
  border: none;
  border-radius:  0px 10px 10px 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 15%;
  height: 100%;
}

.top__details-info{
  min-width: 350px;
  background-color: white;
  height: 300px;
  border-radius: 1rem;
  position: absolute;
  top: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 1rem 0rem;
  z-index: 10000000;
}

.top__details-info-box{
  text-align: center;
}

.top__details-info-box > p{
  text-transform: uppercase;
  font-size: 0.6rem;
  color: var(--ash);
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.top__details-info-box > h2{
  font-size: 1.2rem;
}

@media(min-width:769px){
  .top__details-info{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
  }

  .top__details-info-box{
    text-align: left;
    position: relative;
  }
  .top__details-info-box:not(:first-child):after{
    content: "";
    border-right: 1px solid var(--ash);
    height:40px;
    position: absolute;
    left: -20px;
    top: 8px;
  }
  .input-control{
    width: 400px;
  }
  .top__details{
    height: 25vh;
  }
  #mapid{
    height: 75vh;
    width: 50wh;
  }
  

}